
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    font-family: Helvetica, Arial, sans-serif;
  }


  /*--------------------------------------------HEADER------------------------------------------------------------*/
header{
    background-color: black;
    padding: 35px 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

header h1{
color: lightsteelblue;
font-size: 36px;
font-weight: bold;
}

header nav{
margin: 10px;
}

header nav ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center; 
}

header nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 22px;
    color: rgb(150, 37, 150);
    text-decoration: none;
  }

  .section-title{
    padding: 10px 20px 10px 0px;
    border-right: lightsteelblue 5px solid;
    width: 15%;
}

#my-work .section-title{
    color: blue;
    
}

  .section-content{
    width: 80%;
    padding: 5px 10px;
  }

  #about-me, #my-work, #contact-me{
    padding: 100px 40px 60px 100px;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
}
 